<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437939131777-mlcsvv57lj3qpon58vg7jg5m08gp4ccb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437939131777-mlcsvv57lj3qpon58vg7jg5m08gp4ccb</string>
	<key>API_KEY</key>
	<string>AIzaSyAoTclMzJR1L8xuu8Wx596F1ikCDJONJ4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>437939131777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>neha.BreakPoint-App</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-nd</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-nd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437939131777:ios:1a049b6aaa443338d90480</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-nd.firebaseio.com</string>
</dict>
</plist>